body {
    background-color: rgb(171, 223, 218);
    font-family: 'Cambay', sans-serif;
}

#prophet {
    position: absolute;
    top: 100%;
    left: 45%;
    animation: nameTwitch 2s linear infinite alternate;
}

#viewbox {
    position: relative;
    display: block;
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    background-image: url("../images/filmgrain2.gif");
    border: 5px solid black;
    z-index: 5;
    overflow: hidden;

    text-align: center;
}

#display {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tape {
    width: 100px;
    height: 70px;
    opacity: 0.85;
    animation: tapeSpin 5s linear 1 normal forwards;
}

@keyframes tapeSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(270deg);}
}

@keyframes namePulse {
    from {transform: scale(1, 1);}
    to {transform: scale(5, 5);}
}

@keyframes nameTwitch {
    from {transform: rotateZ(-5deg);}
    to {transform: rotateZ(2deg);}
}