body {
    background-color: rgb(126, 107, 78);
    font-family: 'Caveat Brush', cursive;
    /* font-family: 'Cambay', sans-serif; */
}

#prophet {
    display: none;
    position: absolute;
    top: 100%;
    left: 40%;
    transform: rotate(-180deg);
    color: rgb(29, 29, 29);
    animation: nameTwitch 7s linear infinite alternate;
}

.brack {
    color: rgb(5, 67, 92);
}

.brack2 {
    color: rgb(31, 31, 31);
}

#text {
    z-index: 10;
    position: relative;
    top: 20%;
    width: 450px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    animation: tapeSpin 25s ease-in-out reverse infinite;
}

#t1 {
    font-family: 'Comic Neue', cursive;
    display: inline-block;
    padding: 15px;
    margin-top: 50%;
    animation: namePulse 25s ease-in-out infinite alternate;
    /* border-top: 2px solid rgb(51, 2, 2); */
    border-bottom: 2px solid rgb(51, 2, 2);
}

#display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    margin: auto;
    background-image: url("../images/wavin.gif");
    background-size: 100% 100%;
    background-position: center;
    animation: tapeSpin 30s ease-in-out infinite;
}

#viewbox {
    margin: auto;
    position: relative;
    width: 95%;
    height: 900px;
    border: 5px solid black;
    overflow: hidden;
}

@keyframes tapeSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

@keyframes namePulse {
    from {transform: scale(0, 0) rotateZ(0deg);}
    to {transform: scale(1.25, 1.25) rotateZ(360deg);}
}

@keyframes nameTwitch {
    from {transform: rotateZ(-2deg);}
    to {transform: rotateZ(2deg);}
}